<a routerLink="/overview">
  <mat-card>
    <img mat-card-image src="./assets/overview.png" alt="Angular Overview">
    <mat-card-content>
        Angular Overview, version and technology
    </mat-card-content>
  </mat-card>
</a>

<a routerLink="/setup">
    <mat-card>
      <img mat-card-image src="./assets/setup.PNG" alt="Angular Setup">
      <mat-card-content>
          Instructions to setup Angular app
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/topics">
    <mat-card>
      <img mat-card-image src="./assets/topics.PNG" alt="Angular Topics">
      <mat-card-content>
          Instructions to setup Angular app
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/weatherapp">
    <mat-card>
      <img mat-card-image src="./assets/weatherapp.PNG" alt="Angular Topics">
      <mat-card-content>
          Instructions to setup Angular app
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/qna">
    <mat-card>
      <img mat-card-image src="./assets/qna.PNG" alt="Angular Topics">
      <mat-card-content>
          Instructions to setup Angular app
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/interview">
    <mat-card>
      <img mat-card-image src="./assets/interview.PNG" alt="Angular Topics">
      <mat-card-content>
          Instructions to setup Angular app
      </mat-card-content>
    </mat-card>
</a>