<a routerLink="/overview">
  <mat-card>
    <img mat-card-image src="./assets/overview.png" alt="Angular Overview">
    <mat-card-content>
        Angular Overview, version and technology
    </mat-card-content>
  </mat-card>
</a>

<a routerLink="/setup">
    <mat-card style="background-color: #7f8c8d">
      <img mat-card-image src="./assets/setup.PNG" alt="Angular Setup">
      <mat-card-content>
          Setup and create an Angular app
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/topics">
    <mat-card style="background-color:#0c2461">
      <img mat-card-image src="./assets/topics.PNG" alt="Angular Topics">
      <mat-card-content>
          Topics of Angular
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/weatherapp">
    <mat-card style="background-color:#82ccdd">
      <img mat-card-image src="./assets/weatherapp.PNG" alt="Angular Topics">
      <mat-card-content>
          Quick Tutorial on a Weather App development
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/qna">
    <mat-card style="background-color:#82589F">
      <img mat-card-image src="./assets/qna.PNG" alt="Angular Topics">
      <mat-card-content>
          Learn Angular from Questions and Answers
      </mat-card-content>
    </mat-card>
</a>

<a routerLink="/interview">
    <mat-card style="background-color:#EAB543">
      <img mat-card-image src="./assets/interview.PNG" alt="Angular Topics">
      <mat-card-content>
          Angular interview questions and there answers
      </mat-card-content>
    </mat-card>
</a>